h1 {
  margin-top: 20px;
  color: white;
}

p {
  color: white;
}

.icon {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.icon:hover {
  opacity: 0.7;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: black;
  transition: all 5s ease-in-out;
  padding: 50px;
}
