* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px;
}

.menu-bar ul {
  display: flex;
}

.menu-bar ul li {
  list-style: none;
  margin-left: 3rem;
  font-size: 20px;
}

.menu-bar ul li:hover {
  color: red;
}
